<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" (click)="homeButton()">Home</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarColor01"
    aria-controls="navbarColor01"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" (click)="homeButton()"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="homeButton()">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="homeButton()">Pricing </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="homeButton()">About</a>
      </li>
    </ul>
    <a
      *ngIf="userName"
      class="btn btn-secondary my-2 my-sm-0 mr-1"
      (click)="logout()"
      role="button"
      >Logout</a
    >
    <a
    *ngIf="!userName"
    class="btn btn-secondary my-2 my-sm-0 mr-1"
    (click)="reloadTest()"
    role="button"
    >ReloadTest</a
  >
    <form class="form-inline my-2 my-lg-0" *ngIf="!userName">
      <a
        class="btn btn-secondary my-2 my-sm-0 mr-1"
        (click)="loginButton()"
        role="button"
        >Log in</a
      >

      <a
        class="btn btn-secondary my-2 my-sm-0 ml-1"
        (click)="registerButton()"
        role="button"
        >register</a
      >
    </form>
  </div>
</nav>
